<div class="row">

  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="https://raw.githubusercontent.com/shinjooyoung/shinjooyoung.github.com/master/assets/images/contact.jpg">
      </div>
    </div>
  </div>
  
    <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <p>Name : 신주용</p>
        <p>Birth : 1991.09.04</p><p></p>
        <p><h1>Education</h1></p>
        <p>평생교육원 - 심리학</p>
        <p>모든마음 연구소 - 준연구원</p>
        <p>한국소프트웨어기술진흥협회 - 클라우드 기반 eGovFrame 프로그램 개발자 양성과정 </p>
        <p><h1>Certificate</h1></p>
        <p>소방안전관리자 2급</p>
        <p>ITQ - 취득예정</p>
        <p>정보처리기사 - 취득예정</p>
      </div>
    </div>
  </div>
 
</div>
