<div class="row">

  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="https://raw.githubusercontent.com/shinjooyoung/shinjooyoung.github.com/master/assets/images/1513176646316.jpg">
      </div>
    </div>
  </div>
    <div class="col s12 m6">
          <div class="card">
      <div class="card-image">
        <img src="https://raw.githubusercontent.com/shinjooyoung/shinjooyoung.github.com/master/assets/images/2.JPG">
      </div>
    </div>
 
</div>
